<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>


<p>
  <% if @user.image.present? %>
   <%= image_tag @user.image, :alt => @user.name, :id => 'profile-image'%>
 <% end %>
</p>







<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
