<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>


<p>
  <% if @user.image.present? %>
   <%= image_tag @user.image, :alt => @user.name, :id => 'profile-image'%>
 <% end %>

</p>


<% if @user.resumeu.present? %>

<iframe src=<%= @user.resumeu %> width="200" height="200" style="border: none;"> </iframe>

 <!-- <%= image_tag @user.resumeu, :alt => @user.name, :id => 'profile-resumeu'%> -->
<% end %>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
